{% include 'header.html' %}
    <!-- Flights -->
    <main role="main" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Add a Flight</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-group row">
                                <label for="number" class="col-md-4 col-form-label text-md-right">Number</label>
                                <div class="col-md-6">
                                  <input type="text" id="number" class="form-control" name="number" required autofocus value="{{ number }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date" class="col-md-4 col-form-label text-md-right">Date</label>
                                <div class="col-md-6">
                                    <input type="date" id="date" class="form-control" name="date" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="duration" class="col-md-4 col-form-label text-md-right">Duration</label>
                                <div class="col-md-6">
                                    <input type="number" id="duration" class="form-control" name="duration" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="canopy" class="col-md-4 col-form-label text-md-right">Canopy</label>
                                <div class="col-md-6">
                                  <input list="canopy" class="form-control" name="canopy" required value="{{ canopy }}">
                                </div>
                            </div>
                            <datalist id="canopy">
                            {% for canopy in all_fields['canopy'] %}
                              <option value="{{ canopy }}">
                            {% endfor %}
                            </datalist>

                            <div class="form-group row">
                                <label for="elevation" class="col-md-4 col-form-label text-md-right" title="Elevation gain throughout the flight">Elevation</label>
                                <div class="col-md-6">
                                    <input type="number" id="elevation" class="form-control" name="elevation" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="location" class="col-md-4 col-form-label text-md-right">Location</label>
                                <div class="col-md-6">
                                  <input list="location" class="form-control" name="location" required value="{{ location }}">
                                </div>
                            </div>
                            <datalist id="location">
                            {% for location in all_fields['location'] %}
                              <option value="{{ location }}">
                            {% endfor %}
                            </datalist>

                            <div class="form-group row">
                                <label for="take_off" class="col-md-4 col-form-label text-md-right">Takeoff</label>
                                <div class="col-md-6">
                                  <input list="take_off" class="form-control" name="take_off" required value="{{take_off }}">
                                </div>
                            </div>
                            <datalist id="take_off">
                            {% for take_off in all_fields['take_off'] %}
                              <option value="{{ take_off }}">
                            {% endfor %}
                            </datalist>

                            <div class="form-group row">
                                <label for="landing" class="col-md-4 col-form-label text-md-right">Landing</label>
                                <div class="col-md-6">
                                  <input list="landing" class="form-control" name="landing" required value="{{ landing }}">
                                </div>
                            </div>
                            <datalist id="landing">
                            {% for landing in all_fields['landing'] %}
                              <option value="{{ landing }}">
                            {% endfor %}
                            </datalist>
                            
                            <div class="form-group row">
                                <label for="youtube" class="col-md-4 col-form-label text-md-right">Youtube</label>
                                <div class="col-md-6">
                                  <textarea type="text" rows="3" id="youtube" class="form-control" name="youtube"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="tracks" class="col-md-4 col-form-label text-md-right">Tracks</label>
                                <div class="col-md-6">
                                  <textarea type="text" rows="3" id="track" class="form-control" name="tracks"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="notes" class="col-md-4 col-form-label text-md-right">Notes</label>
                                <div class="col-md-6">
                                    <textarea type="text" rows="4" id="notes" class="form-control" name="notes" required></textarea>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-5">
                                <button type="submit" class="btn btn-primary">
                                    Add Flight
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </main>
    
{% include 'footer.html' %}
