{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    <div class="row">
    {% for year in years[::-1] %}
      {{ year | safe }}
    {% endfor %}
    </div>

    </main>
    
{% include 'footer.html' %}
