{% include 'header.html' %}

    <script type="text/javascript" src="/js/edits.js"></script>

    <!-- Flights -->
    <main role="main" class="container">
    {% for flight in flights %}
    <form id="edit_{{ flight.number }}" action='/edit/{{ flight.number }}' method="post" onsubmit="return confirm('Are you sure you want to save changes to flight n°{{ flight.number }}?');">
     <div class="card mb-4 box-shadow" id="flight{{ flight.number }}">
        <div class="card-header d-flex">
            <div class="row">
                <label for="number" class="col-md-4 col-form-label text-md-right">Flight n°</label>
                <div class="col-md-6">
                  <input type="text" id="number" class="form-control" name="number" required autofocus value="{{ flight.number }}">
                </div>
            </div>
          <button form="edit_{{ flight.number }}" type="submit" class="ml-auto mr-3 btn btn-success">Save Edit</button>
          <button type="button" class="btn btn-danger" onclick="remove_flight({{ flight.number }})">Remove</button>
        </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="card-body">
                  <div class="form-group row">
                      <label for="date" class="col-md-4 col-form-label text-md-right">Date</label>
                      <div class="col-md-6">
                        <input type="text" id="date" class="form-control" name="date" required autofocus value="{{ flight.date }}">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="location" class="col-md-4 col-form-label text-md-right">Location</label>
                      <div class="col-md-6">
                        <input type="text" id="location" class="form-control" name="location" required autofocus value="{{ flight.location }}">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="take_off" class="col-md-4 col-form-label text-md-right">Take Off</label>
                      <div class="col-md-6">
                        <input type="text" id="take_off" class="form-control" name="take_off" required autofocus value="{{ flight.take_off }}">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="landing" class="col-md-4 col-form-label text-md-right">Landing</label>
                      <div class="col-md-6">
                        <input type="text" id="landing" class="form-control" name="landing" required autofocus value="{{ flight.landing }}">
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card-body">
                <div class="form-group row">
                    <label for="duration" class="col-md-4 col-form-label text-md-right">Duration</label>
                    <div class="col-md-6">
                      <input type="text" id="duration" class="form-control" name="duration" required autofocus value="{{ flight.duration }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="elevation" class="col-md-4 col-form-label text-md-right">Elevation</label>
                    <div class="col-md-6">
                      <input type="text" id="elevation" class="form-control" name="elevation" required autofocus value="{{ flight.elevation }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="canopy" class="col-md-4 col-form-label text-md-right">Canopy</label>
                    <div class="col-md-6">
                      <input type="text" id="canopy" class="form-control" name="canopy" required autofocus value="{{ flight.canopy }}">
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body notes">
            <div class="form-group row">
                <label for="notes" class="col-md-4 col-form-label text-md-right">Notes</label>
                <div class="col-md-6">
                  <textarea type="text" id="notes" class="form-control" name="notes" required autofocus>{{ flight.notes}}</textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="youtube" class="col-md-4 col-form-label text-md-right">Youtube</label>
                <div class="col-md-6">
                  <textarea type="text" id="youtube" class="form-control" name="youtube" required autofocus>{% if flight.youtube_link %}{% for link in flight.youtube_link %}{{ link }}{% endfor %}{% endif %}</textarea>
              </div>
            </div>
            
            <div class="form-group row">
                <label for="tracks" class="col-md-4 col-form-label text-md-right">Tracks</label>
                <div class="col-md-6">
                  {% if flight.gpx %}
                  <textarea type="text" id="tracks" class="form-control" name="tracks" required autofocus>{% for link in flight.gpx %}{{ link }}
{% endfor %}</textarea>
                  {% else %}
                  <textarea type="text" id="tracks" class="form-control" name="tracks" required autofocus></textarea>
                  {% endif %}
                </div>
            </div>

            {% if flight.youtube %}
            <div class="text-center">
              {% for yt in flight.youtube %}
                {{ yt | safe }}<br>
              {% endfor %}
            </div>
            {% endif %}

          </div>
      </div>
    </form>
    {% endfor %}

    </main>

{% include 'footer.html' %}
