<!doctype html>
<html>
  <head>
    <title>Paragliding LogBook</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>


    <script src="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Cesium.js"></script>
    <script src="/js/display_igc.js"></script>
    <script>viewers = {}</script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Widgets/widgets.css" rel="stylesheet">

    
    <style>
      .navbar-collapse.collapse.in {
          display: block!important;
      }

      li h6{
        display: inline-block;
        width: 100px;
      }
      li p{
        display: inline-block;
        padding-left: 10px;
      }
      .video_sup {
        width: 100%;
      }
      .video_container {
        position: relative;
        width: 70%;
        height: 0;
        padding-bottom: 40%;
        vertical-align: middle;
        display:inline-block;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      a {
        color: black;
      }
      a:hover {
        text-decoration: none;
      }

      /* Calendar */
      table.year{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        text-align: center;
        height: 190px;
        color: white; 

        background-color: #343A40;
        border-radius: 10px;
      }
      table.year td{
        padding: 3px 3px 3px 3px;
      }
      table.month td{
        height: 3px;
      }
      table.month{
        height: 280px;
        
        color: black;
        
        border-radius: 5px;
        border-spacing: 3px;
        border-collapse: separate;

        background-color: #999999;
      }
      .color-red{
        background-color: #ff8080;
      }
      .color-orange{
        background-color: #ffba92;
      }
      .color-yellow{
        background-color: #f6f078;
      }
      .color-green{
        background-color: #a0c334;
      }

      .notes{
        margin-top: -40px;
      }

      .container hr{
        margin-top: -40px;
      }
    </style>
  </head>
  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Paragliding LogBook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/stats">Stats <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/videos">Videos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/calendar">Calendar<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/licenses">Licenses<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item active">
            <a class="nav-link" href="/add">Add<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/edit">Edit<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        {% endif %}

        {% if current_user.is_authenticated %}
        <form class="form-inline mt-2 mt-md-0" action="/logout">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        {% else %}
        <form class="form-inline mt-2 mt-md-0" action="/login">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        {% endif %}
        </form>
      </div>
    </nav>
