{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    {% for flight in flights %}
      <div class="card mb-4 box-shadow" id="flight{{ flight.number }}">
        <div class="card-header">
          <a href="#flight{{ flight.number }}"><h3>Flight n°{{ flight.number }}</h3></a>
        </div>

				<div class="row">
					<div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Date</h6> <p>{{ flight.date }}</p></li>
                <li><h6>Location</h6> <p>{{ flight.location }}</p></li>
                <li><h6>Take Off</h6> <p>{{ flight.take_off }}</p></li>
                <li><h6>Landing</h6> <p>{{ flight.landing }}</p></li>
              </ul>
						</div>
					</div>
					<div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Duration</h6> <p>{{ flight.duration }} mins</p></li>
                <li><h6>Elevation</h6> <p>{{ flight.elevation }}m</p></li>
                <li><h6>Canopy</h6> <p>{{ flight.canopy }}</p></li>
              </ul>
            </div>
					</div>
				</div>

        <div class="card-body notes">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-center"> <p>{{ flight.notes | replace('\n', '<br>') | safe }}</p></li>

            {% if flight.youtube %}
            <li class="text-center"> <p><b>Youtube</b><br>
              {% for yt in flight.youtube %}
                {{ yt | safe | urlize(50) }}<br>
              {% endfor %}
            </p></li>
            {% endif %}

            {% if flight.gpx %}
            <li class="text-center"> <p><b>Track</b><br>
              {% for gpx in flight.gpx %}
                {{ gpx | urlize(50) }}<br>
              {% endfor %}
             </p></li>
            {% endif %}

            {% if flight.igc %}
            <li class="text-center"> <p><b>3D View</b><br>
              <button id="addCesiumViewer-{{ flight.igc }}">Show Viewer</button>
              <div id="cesiumContainer-{{ flight.igc }}" class="cesiumContainer"></div>
              <script type="module">
                // Fullscreen fix for the Cesium Viewer
                const fullScreenHandler = () => {
                  const canvas = viewers["cesiumContainer-{{ flight.igc}}"].canvas;
                  if ('webkitRequestFullscreen' in canvas) {
                    canvas['webkitRequestFullscreen']() // Safari
                  } else {
                    canvas.requestFullscreen();
                  }
                }

                // Create a callback for the button "Show Viewer"
                document.getElementById('addCesiumViewer-{{ flight.igc}}').addEventListener('click', function() {
                  // Set a flag so the viewer can be collapsed and reopened
                  // Also keeping a dict of all opened viewers to destroy them afterwards
                  const viewerDiv = document.getElementById('cesiumContainer-{{ flight.igc }}');
                
                  // Closing the Viewer
                  if (viewerDiv.getAttribute('opened') === "true") {
                    viewerDiv.setAttribute('opened', false);
                  
                    // Delete the Cesium viewer and remove it from the dict
                    const viewer = viewers["cesiumContainer-{{ flight.igc }}"];
                    viewer.entities.removeAll();
                    viewer.destroy();
                    delete viewers["cesiumContainer-{{ flight.igc }}"];
                    
                    // Change the name of the button
                    const button = document.getElementById("addCesiumViewer-{{ flight.igc }}")
                    button.textContent = "Show Viewer";
                    return;
                  }

                  // Opening the Viewer
                  viewerDiv.setAttribute('opened', true);
                  // Change the name of the button
                  const button = document.getElementById("addCesiumViewer-{{ flight.igc }}")
                  button.textContent = "Close Viewer";
 
                  // Add the Cesium viewer
                  const viewer = new Cesium.Viewer("cesiumContainer-{{ flight.igc }}", {
                    terrain: Cesium.Terrain.fromWorldTerrain(),
                  });
                  viewers["cesiumContainer-{{ flight.igc }}"] = viewer;
                
                // Fix fullscreen issues (not quite fixed as of 2024-08-03 but good enough)
                viewer.fullscreenButton.viewModel.command.beforeExecute.addEventListener(fullScreenHandler)
                viewer.fullscreenButton.viewModel.command.afterExecute.addEventListener(fullScreenHandler)

                // Get the IGC file as a GPX Document
                var gpx_data = igcToGpx("/igc/{{ flight.igc }}");

                // Add that GPX to the viewer with the icons, color, etc.
                const pinBuilder = new Cesium.PinBuilder();
                viewer.dataSources
                  .add(
                    Cesium.GpxDataSource.load(
                      gpx_data,
                      {
                        clampToGround: false,
                        trackColor: Cesium.Color.YELLOW,
                        waypointImage: pinBuilder.fromMakiIconId(
                          "airport",
                          Cesium.Color.BLACK,
                          48
                        ),
                      }
                    )
                  )
                  .then(function (dataSource) {
                    viewer.zoomTo(dataSource.entities);
                  })

                  // ==== Elevation Chart
                  // Get the elevation and pair it with the timestamps
                  const time = gpx_data.querySelectorAll("time");
                  const elevation = gpx_data.querySelectorAll("ele");
                  const data = Array.from(time).map((time, index) => ({
                      time: time.textContent,
                      elevation: +elevation[index].textContent
                    }));

                  // Set up the SVG container
                  // Can't use dots in the id, need to be \\.
                  const viewer_height = ((viewer.container.clientHeight/2 > 250) ? 250 : viewer.container.clientHeight/2);
                  const svg = d3.select("#cesiumContainer-{{ flight.igc | replace('.', '\\\\.') }}")
                   .append("svg")
                   .attr("id", "cesiumContainer-svg-{{ flight.igc }} ")
                   .attr("class", "overlay-svg")
                   .attr("width", viewer.container.clientWidth)
                   .attr("height", viewer_height)

                  // Set the margins and the size of the plot without them 
                  const margin = { top: 20, right: 20, bottom: 20, left: 40 };
                  const width = +svg.attr("width") - margin.left - margin.right;
                  const height = +svg.attr("height") - margin.top - margin.bottom;

                  // Create the data objects and axes
                  const minElevation = d3.min(data, d => d.elevation) 
                  const maxElevation = d3.max(data, d => d.elevation) 
                  const x = d3.scaleTime()
                      .domain(d3.extent(data, d => new Date(d.time)))
                      .range([margin.left, width + margin.left]);
                  const y = d3.scaleLinear()
                      .domain([minElevation, maxElevation]).nice()
                      .range([height - margin.bottom, margin.top]);

                  // Custom tick format for 24-hour time
                  const yAxis = g => g
                    .attr("transform", `translate(${margin.left},0)`)
                    .call(d3.axisLeft(y))
                    .call(g => g.select(".domain").remove());

                  const xAxis = d3.axisBottom(x)
                    .tickFormat(d3.timeFormat("%H:%M"))
                    .tickValues(x.ticks().concat(x.domain())); // Ensure last tick is shown
                  const xAxisGroup = g => g
                    .attr("transform", `translate(0,${height - margin.bottom})`)
                    .call(xAxis)

                  // Create the line and area generators
                  const line = d3.line()
                      .x(d => x(new Date(d.time)))
                      .y(d => y(d.elevation));

                  const area = d3.area()
                    .x(d => x(new Date(d.time)))
                    .y0(y(y.domain()[0]))
                    .y1(d => y(d.elevation));

                  // Append the area path
                  svg.append("path")
                    .datum(data)
                    .attr("fill", "#C4A484")
                    .attr("fill-opacity", 0.5)
                    .attr("d", area);

                  // Append the line path
                  svg.append("path")
                    .datum(data)
                    .attr("fill", "none")
                    .attr("stroke", "#5C4033")
                    .attr("stroke-width", 1.5)
                    .attr("d", line);

                  // Append the axes
                  svg.append("g")
                    .call(xAxisGroup);
                  svg.append("g")
                    .call(yAxis);
                });
            </script>
            </p></li>
            {% endif %}

          </ul>
        </div>
      </div>
    {% endfor %}

    </main>

{% include 'footer.html' %}
