{% include 'header.html' %}

    <script src="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Cesium.js"></script>
    <script src="/js/display_igc.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Widgets/widgets.css" rel="stylesheet">

    <!-- Flights -->
    <main role="main" class="container">
    {% for flight in flights %}
      <div class="card mb-4 box-shadow" id="flight{{ flight.number }}">
        <div class="card-header">
          <a href="#flight{{ flight.number }}"><h3>Flight n°{{ flight.number }}</h3></a>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Date</h6> <p>{{ flight.date }}</p></li>
                <li><h6>Location</h6> <p>{{ flight.location }}</p></li>
                <li><h6>Take Off</h6> <p>{{ flight.take_off }}</p></li>
                <li><h6>Landing</h6> <p>{{ flight.landing }}</p></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Duration</h6> <p>{{ flight.duration }} mins</p></li>
                <li><h6>Elevation</h6> <p>{{ flight.elevation }}m</p></li>
                <li><h6>Canopy</h6> <p>{{ flight.canopy }}</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card-body notes">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-center"> <p>{{ flight.notes | replace('\n', '<br>') | safe }}</p></li>
            
            {% if flight.youtube %}
            <li class="text-center"> <p><b>Youtube</b><br>
              {% for yt in flight.youtube %}
                {{ yt | safe | urlize(50) }}<br>
              {% endfor %}
            </p></li>
            {% endif %}
 
            {% if flight.gpx %}
            <li class="text-center"> <p><b>Track</b><br>            
              {% for gpx in flight.gpx %}
                {{ gpx | urlize(50) }}<br>
              {% endfor %}
              </p></li>
            {% endif %}
            
            {% if flight.igc %}
            <li class="text-center"> <p><b>3D View</b><br>
              <button id="addCesiumViewer-{{ flight.igc }}">Show Viewer</button>
              <div id="cesiumContainer-{{ flight.igc }}"></div>
              <script type="module">
                document.getElementById('addCesiumViewer-{{ flight.igc}}').addEventListener('click', function() {
                  const viewer = new Cesium.Viewer("cesiumContainer-{{ flight.igc }}", {
                    terrain: Cesium.Terrain.fromWorldTerrain(),
                  });


                  // Get the IGC file as a GPX Document
                  var gpx_data = igcToGpx("/igc/{{ flight.igc }}");

                  const pinBuilder = new Cesium.PinBuilder();
                  viewer.dataSources
                    .add(
                      Cesium.GpxDataSource.load(
                        gpx_data,
                        {
                          clampToGround: false,
                          trackColor: Cesium.Color.YELLOW,
                          waypointImage: pinBuilder.fromMakiIconId(
                            "airport",
                            Cesium.Color.BLACK,
                            48
                          ),
                        }
                      )
                    )
                    .then(function (dataSource) {
                      viewer.zoomTo(dataSource.entities);
                    })
              });
              </script>
            </p></li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}

    </main>

{% include 'footer.html' %}
